<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <h1>User Sign Up Page</h1>
    <form>
      <input type="text" name="username">
      <input type="text" name="password">
      <input type="submit" name="" value="Create User">
    </form>
  </body>
</html>
