<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <div class="header">
      <h1>INDEX PAGE</h1>
      <a href="/users/new">Sign Up</a>
      <a href="/sessions/new">Log In</a><br/>
    </div>
    <% for (let recipe of recipes) { %>
      <a href="/recipe/<%=recipe.id%>">
        <%=recipe.title%>
      </a>
    <% } %>
    <nav>
      <a href="/recipe/new">Create New Recipe</a>
    </nav>
  </body>
</html>
