<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>INDEX PAGE</h1>
    <% for (let recipe of recipes) { %>
      <a href="/recipe/<%=recipe.id%>">
        <%=recipe.title%>
      </a>
    <% } %>
    <nav>
      <a href="/recipe/new">Create New Recipe</a>
    </nav>
  </body>
</html>
