<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <h1>CREATE NEW RECIPE</h1>
    <a href="/recipe">Back To Home Page</a>
    <form action="/recipe" method="POST">
      Title: <input type="text" name="title" placeholder="Recipe Title"><br/>
      Ingredients: <textarea name="ingredient" rows="8" cols="80"></textarea><br/>
      Process: <textarea name="process" rows="8" cols="80"></textarea><br/>
      Image: <input type="text" name="img" class="new-img" placeholder="Image if available"><br/>
      Cook Time (min): <input type="number" name="time" placeholder="Time in minutes"><br/>
      Type: <input type="text" name="type" placeholder="Mexican/Persian/Thai">
      <input type="submit" value="Create Recipe">
    </form>
  </body>
</html>
